.auth-form {
  width: 100%;
  min-height: 700px;
  box-sizing: border-box;
  padding: 78px calc((100% - 396px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth-form__content {
  display: flex;
  flex-direction: column;
}
.auth-form__logo {
  background-image: url('../../images/HeaderLogo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  margin-bottom: 40px;
}
.auth-form__logo:hover {
  opacity: 0.7;
}

.auth-form__title {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 1px;
  margin: 0 0 40px 0;
}

.auth-form__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.auth-form__input-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.auth-form__input-title {
  color: rgb(139, 139, 139);
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 5px;
  text-align: left;
}

.auth-form__input {
  margin: 0;
  padding: 0 0 10px 0;
  box-sizing: border-box;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(32, 32, 32);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid rgb(66, 66, 66);
}
.auth-form__input:focus {
  outline: 1px solid rgb(66, 66, 66);
}
.error__span {
  min-height: 18px;
  margin-bottom: 10px;
}
.auth__input-error {
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  margin-bottom: 16px;
}
.auth__container-btn {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
}
.auth-form__btn {
  padding: 0;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background: rgb(66, 133, 244);
  border: none;
  font-size: 14px;
  margin: 16px 0 16px;
}
.auth-form__btn:disabled {
  opacity: 0.5;
}
.auth-form__btn:hover {
  opacity: 0.7;
}
.auth-form__reg-log {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.auth-form__text {
  color: rgb(139, 139, 139);
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.auth-form__link {
  color: rgb(66, 133, 244);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}
.auth-form__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .auth-form {
    padding-top: 232px;
  }
  .auth-form__input {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 500px) {
  .auth-form {
    padding: 64px 30px 30px;
  }
  .auth-form__content {
    align-items: center;
  }
  .auth-form__logo {
    margin-bottom: 55px;
  }

  .auth-form__title {
    margin-bottom: 80px;
  }

  .auth-form__input {
    line-height: 15px;
    padding-bottom: 10px;
  }
  .auth-form__btn {
    margin-top: 234px;
    margin-bottom: 14px;
    font-size: 12px;
  }
  .auth-form__text {
    font-size: 12px;
  }
  .auth-form__link {
    font-size: 12px;
  }
}
