.footer {
  height: 85px;
  padding: 79px 70px 20px;
}

.footer__title {
  color: rgb(139, 139, 139);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  border-bottom: 1px solid rgb(66, 66, 66);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.footer__info {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  display: flex;
  justify-content: space-between;
}

.footer__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer__link:hover {
  opacity: 0.7;
}
.footer__link:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 1110px) {
  .footer {
    padding: 80px 30px 20px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 80px 10px 20px;
  }
  .footer__info {
    flex-direction: column-reverse;
  }
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }
  .footer__time {
    text-align: center;
    margin-bottom: 20px;
  }
}
